<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.LNDWA"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="4"
            android:targetSdkVersion="19"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application android:label="@string/app_name" android:icon="@drawable/title" android:allowBackup="true">
        <activity android:name=".views.LNDWA"
                  android:theme="@style/Theme.AppCompat" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".views.ChooseChars" android:theme="@style/Theme.AppCompat" android:label="@string/choosechars"/>
        <activity android:name=".views.CharView" android:theme="@style/Theme.AppCompat" android:label="@string/charview"/>
        <activity android:name=".views.ViewEvents" android:theme="@style/Theme.AppCompat" android:label="@string/eventview"/>
        <activity android:name=".views.ViewItems" android:theme="@style/Theme.AppCompat" android:label="@string/itemview"/>
        <activity android:name=".views.GameStats" android:theme="@style/Theme.AppCompat" android:label="@string/statview"/>
        <activity android:name=".views.edit.EditAbility" android:theme="@style/Theme.AppCompat" android:label="@string/editability"/>
        <activity android:name=".views.edit.EditAction" android:theme="@style/Theme.AppCompat" android:label="@string/editaction"/>
        <activity android:name=".views.edit.EditChar" android:theme="@style/Theme.AppCompat" android:label="@string/editchar"/>
        <activity android:name=".views.edit.EditEvent" android:theme="@style/Theme.AppCompat" android:label="@string/editevent"/>
        <activity android:name=".views.edit.EditGameSet" android:theme="@style/Theme.AppCompat" android:label="@string/editgameset"/>
        <activity android:name=".views.edit.EditGroup" android:theme="@style/Theme.AppCompat" android:label="@string/editgroup"/>
        <activity android:name=".views.edit.EditItem" android:theme="@style/Theme.AppCompat" android:label="@string/edititem"/>
        <activity android:name=".views.edit.EditPlayer" android:theme="@style/Theme.AppCompat" android:label="@string/editplayer"/>
        <activity android:name=".views.edit.EditPosition" android:theme="@style/Theme.AppCompat" android:label="@string/editposition"/>
        <activity android:name=".views.Options" android:theme="@style/Theme.AppCompat" android:label="@string/options"/>
        <activity android:name=".views.RandomAssignView" android:theme="@style/Theme.AppCompat" android:label="@string/round"/>
        <activity android:name=".views.Round" android:theme="@style/Theme.AppCompat" android:label="@string/round"/>
        <activity android:name=".views.Round2" android:theme="@style/Theme.AppCompat" android:label="@string/round"/>
        <activity android:name=".views.ViewPlayers" android:theme="@style/Theme.AppCompat" android:label="@string/playerview"/>
        <activity android:name=".views.ViewStats" android:theme="@style/Theme.AppCompat" android:label="@string/statview"/>
        <activity android:name=".views.Results" android:theme="@style/Theme.AppCompat" android:label="@string/statistics"/>
        <activity android:name=".views.ViewGameSet" android:theme="@style/Theme.AppCompat" android:label="@string/gameset"/>
        <activity android:name=".views.ViewGroups" android:theme="@style/Theme.AppCompat" android:label="@string/groups"/>
    </application>
</manifest>
